{% extends 'admin.html' %}
{% load staticfiles %}
{% load bootstrap %}
{% load bootstrap3 %}


{% block body_block %}

<center>
<br><br><br>
<section class="projects section" style="width:1000px;">
    <div class="section-inner">
        <h2 class="heading">Add Project</h2>
        <div class="content">

        	<div style="width:500px;">
	        	<form method="post" action="/blog/addproject/" enctype="multipart/form-data">
		        	{% csrf_token %}
                    {{ form.non_field_errors }}
					{{form|bootstrap}}
					<br>
		            <center>
		            <input class="btn btn-default" type="submit" value="Add Project">
		            </center>    
	            </form>   
			</div>    
            
        </div><!--//content-->  
    </div><!--//section-inner-->                 
</section><!--//section-->
</center>

{% endblock %}