{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap %}
{% load bootstrap3 %}


{% block body_block %}

    <div class="container sections-wrapper">
        <div class="row">
            <div class="primary col-md-8 col-sm-12 col-xs-12">
                <section class="about section">
                    <div class="section-inner">
                        <h2 class="heading">About Me</h2>
                        <div class="content">
                            <p>I'm a freshman student at IIITD, pursuing my BTech degree.</p>   
         
        <p>My passions are development, drums and dance. This is my first attemp to start a blog. I will be blogging about code, music and life as it goes!</p>
                         
                        </div><!--//content-->
                    </div><!--//section-inner-->                 
                </section><!--//section-->

               <section class="latest section">
                    <div class="section-inner">
                        <h2 class="heading">Latest Project</h2>
                        <div class="content">    
                                               
                            <div class="item featured text-center">
                                <h3 class="title">Self Growth Portal - IIIT Delhi</h3>
                                <p class="summary">Portal for co curricular credits for my university.</p>
                                <div class="featured-image">
                                    <a href="http://sg.iiitd.edu.in:8087" target="_blank">
                                    <img class="img-responsive project-image" src="{% static "images/projects/sgp.png" %}" alt="project name" />
                                    </a>
                                    
                                <div class="desc text-left">                                    
                                    <p>This is a portal used for the 2 co-curricular credits of IIIT Delhi. Students can submit their proposal, manage related files, and keep a record of their self growth project. The admin (professor incharge), can view, review and update project status.</p>
                                    <p>Few major componenets of the project includes:
                                    	<ul>
                                    		<li>Built with Django 1.7</li>
                                    		<li>Google Oauth 2</li>
                                    		<li>Djrill</li>
                                    		<li>Bootstrap</li>
                 							<li>A small query based search implemented by me</li>
                                    	</ul>
                                    </p>
                                </div><!--//desc-->         
                                <a class="btn btn-cta-secondary" href="https://github.com/Lohit13/selfgrowthportal" target="_blank"><i class="fa fa-thumbs-o-up"></i> Find Out More</a>                 
                            </div><!--//item-->
                            <hr class="divider" />
                            
                            
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </section><!--//section-->
                
                <section class="experience section">
                    <div class="section-inner">
                        <h2 class="heading">Hobbies & Other Stuff</h2>
                        <div class="content">
                            <div class="item">
                                <h3 class="title">Drums</h3>
                                <p>I play drums. I'v done my Grade 6 from Trinity. Main interest is in progressive, hard rock. Some metal here and there too.</p>
                            </div><!--//item-->
                            <div class="item">
                                <h3 class="title">Guitar</h3>
                                <p>I play the guitar as well a little. I have done Grade 3 guitar from RockSchool. Unlike drums, I like to play soft, acoustic songs on guitar.</p>
                            </div><!--//item-->
                            <div class="item">
                                <h3 class="title">Dance</h3>
                                <p>I'm also into Hip-Hop and breakdance. With toprock, powermoves and tutting as my main styles.</p>
                            </div><!--//item-->
                            
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </section><!--//section-->

            </div><!--//primary-->
            <div class="secondary col-md-4 col-sm-12 col-xs-12">
                 <aside class="info aside section">
                    <div class="section-inner">
                        <h2 class="heading sr-only">Basic Information</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-map-marker"></i><span class="sr-only">Location:</span>New Delhi, India</li>
                                <li><i class="fa fa-envelope-o"></i><span class="sr-only">Email:</span><a href="#">lohitaksh14059[@]iiitd.ac.in</a></li>
                                <!--
                                <li><i class="fa fa-link"></i><span class="sr-only">Website:</span><a href="#">http://www.website.com</a></li> -->
                            </ul>
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </aside><!--//aside-->
                
                <aside class="skills aside section">
                    <div class="section-inner">
                        <h2 class="heading">Skills</h2>
                        <div class="content">
                            <p class="intro">
                                I am interested in Web and Android Development. Here are a few languages and technologies I code in.</p>
                            
                            <div class="skillset">
                               
                                <div class="item">
                                    <h3 class="level-title">Python &amp; Django<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="You can use the tooltip to add more info...">Expert</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="100%">
                                        </div>                                      
                                    </div><!--//level-bar-->                                 
                                </div><!--//item-->
                                
                                <div class="item">
                                    <h3 class="level-title">Javascript<span class="level-label">Quite Comfortable</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="80%">
                                        </div>                                      
                                    </div><!--//level-bar-->                                 
                                </div><!--//item-->
                                
                                <div class="item">
                                    <h3 class="level-title">HTML5 &amp; CSS3<span class="level-label">Expert</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="96%">
                                        </div>                                      
                                    </div><!--//level-bar-->                                 
                                </div><!--//item-->
                                
                                <div class="item">
                                    <h3 class="level-title">C &amp; C++<span class="level-label">Expert</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="90%">
                                        </div>                                      
                                    </div><!--//level-bar-->                                 
                                </div><!--//item-->


                                <div class="item">
                                    <h3 class="level-title">Arduino<span class="level-label">Pretty Good</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="70%">
                                        </div>                                      
                                    </div><!--//level-bar-->                                 
                                </div><!--//item-->
                                
                                <p><a class="more-link" href="https://www.github.com/Lohit13/"><i class="fa fa-external-link"></i> More on GitHub</a></p> 
                            </div>              
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </aside><!--//section-->
                
                
                
                <aside class="education aside section">
                    <div class="section-inner">
                        <h2 class="heading">Education</h2>
                        <div class="content">
                            <div class="item">
                                <h3 class="title"><i class="fa fa-graduation-cap"></i> B.Tech. Computer Science and Engineering</h3>
                                <h4 class="university">IIIT, Delhi <span class="year">(2014-2018)</span></h4>
                            </div><!--//item-->
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
                            
                <aside class="languages aside section">
                    <div class="section-inner">
                        <h2 class="heading">Languages</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li class="item">
                                    <span class="title"><strong>English</strong></span><br>
                                    <span class="title"><strong>Hindi</strong></span><br>
                                    <span class="title"><strong>Kashmiri</strong></span><br>
                                    <span class="title"><strong>Punjabi</strong></span><br>
                                </li><!--//item-->
                            </ul>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
                
                <aside class="list music aside section">
                    <div class="section-inner">
                        <h2 class="heading">Favourite coding music</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-headphones"></i> <a href="#">Dance of Eternity - Dream Theatre</a></li>
                                <li><i class="fa fa-headphones"></i> <a href="#">Savin' Me - Nickelback</a></li>
                            </ul>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->

                    </div><!--//section-inner-->
                </aside><!--//section-->
              
            </div><!--//secondary-->    
        </div><!--//row-->
    </div><!--//masonry-->


{% endblock %}
    
    

